.user-container {
    width: 17%;
    height: 12vh;
    border: 3px solid red;
    background-color: lightpink;
    margin-top: 3vh;
    margin-left: 4%;
    margin-right: 4%;
    display: flex;
    border-radius: 15px;
}

.user-container input {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 22px;
    text-align: center;
    height: 6vh;
    margin-top: 3vh;
    background: none;
    border: 0;
}